//Fonts
@import url("https://use.typekit.net/gad1rxl.css");
@import url("https://use.typekit.net/hrt6ppr.css");

// Main
// basic
*{
    margin: 0;
    padding: 0;
    border: 0;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    min-height: calc(100vh - 350px);
    width: 100%;
}


.spacing-medium {
    height: 100px;
}

//nav
nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 60px;
    background-color: #000;
    position: fixed;
    width: 100%;
    top: 0;

    & .left {
        margin-left: 15em;

        img {
            height: 60px;
        }
    }

    & .right {

        & ul {
            list-style-type: none;
            display: flex;
            line-height: 60px;
            float: right;
            margin-right: 15em;

            & li {
                margin-left: .9em;
                color: #fff;
                text-decoration: none;
                font-family: upgrade, sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 1.5em;

                & a {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
}


// intro header
.intro {
    height: 60vh;
    min-height: 400px;
    max-height: 900px;
    background-image: url('../../public/img/intro_background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 4px 4px 4px rgba(0,0,0,.2);

    & h1 {
        color: #fff;
        display: block;
        font-size: 4em;
        font-family: uppercut-angle, sans-serif;
        font-weight: 400;
        font-style: normal;
        text-shadow: 4px 4px 4px rgba(0,0,0,.2);
    }
}

//info1

.info1 {
    background-color: #fff;

    & .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;

        & .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            border-color: rgba(0,0,0,0);

            & p {
                font-family: upgrade, sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 1.5em;
                width: 70%;
                margin: 0 auto;
            }
        }
    }
}

//gallery

.gallery {

    & .grid {
        padding: 0;
        margin: 0 auto;
        display: grid;
        width: 90%;
        grid-template-columns: 1fr 1fr 1fr;
        box-shadow: 0px 20px 20px rgba(0,0,0,.26);

        & .img1{ grid-column: 1/2; grid-row: 1; }
        & .img2{ grid-column: 3/4; grid-row: 1/3; }
        & .img3{ grid-column: 1/3; grid-row: 2;}
        & .img4{ grid-column: 2/3; grid-row: 1;}

        & .img {
            width: 100%;
            height: 100%;

            & img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

//Collection

.collection {


    & h1 {
        text-align: center;
        display: block;
        font-size: 2.3em;
        font-family: uppercut-angle, sans-serif;
        font-weight: 400;
        font-style: normal;
        text-shadow: 4px 4px 4px rgba(0,0,0,.2);
    }

    & .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        & img {
            width: 100%;
        }

        & .box {

            & h3 {
                text-align: center;
                font-family: upgrade, sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 1.5em;
            }
        }
    }
}

//box
.info {

    & .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        min-height: 100vh;
        width: 100%;

        & .img {
            margin: 0 auto;
        }

        & .info {
            position: absolute;
            top: 35%;
            left: 50%;

            & h2 {
                font-family: uppercut-angle, sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 3em;
            }

            & p {
                font-family: upgrade, sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 2em;
            }

            & h3 {
                font-family: upgrade, sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 2em;
            }

            & ul {
                font-family: upgrade, sans-serif;
                font-weight: 400;
                font-style: normal;
                color: #2e2e2e;
                list-style-type: none;
                font-size: 1.2em;
            }

            & a {
                text-decoration: none;
                color: #fff;
                padding: 16px 80px;
                background: #121212;
                cursor: pointer;
                text-align: center;
                font-family: uppercut-angle, sans-serif;
                font-weight: 200;
                font-style: normal;
                line-height: 40px;
            }
        }
    }
}



// footer
footer {
    z-index: 200;
    height: 330px;
    padding: 0;
    margin: 0;
    background-color: #121212;
    color: #fff;
    position: relative;
    width: 100%;
    bottom: 0;
    font-family: upgrade, sans-serif;
    font-weight: 300;
    font-style: normal;
    box-shadow: 0px 0px 20px rgba(0,0,0,.3);

    & .spacing {
        height: 50px;
    }

    & h1 {
        margin: 0;
        padding: 0;
        font-family: uppercut-angle, sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    & .content {
        width: 85%;
        margin: 0 auto;

        & .underline {
            height: 2px;
            width: 30px;
            background-color: #fff;
        }

        & .grid1 {
            grid-template-columns: 1fr 1fr 50%;
            display: grid;
            height: 100px;

            & .list {
                height: 100px;

                & ul {
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    font-family: upgrade, sans-serif;

                    & li {
                        margin-top: .2em;

                        & a {
                            text-decoration: none;
                            color: #fff;
                        }
                    }
                }
            }
            & .img {
                height: 100px;

                & img {
                    height: 100px;
                    border-radius: .5em;
                    box-shadow: 0px 0px 5px rgba(0,0,0,.3);
                }
            }
        }
        & .grid2 {
            padding-top: 20px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            height: 60px;

            & h5 {
                margin-top: auto;
                margin-bottom: 0;
                font-family: upgrade-lights, sans-serif;
                font-weight: 200;
                font-size: .8em;

                & a {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
}


.order {
    height: 100vh;
    width: 100%;

    & .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;

        & .right {
            margin-top: 22em;

            & h1 {
                font-family: uppercut-angle, sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 2.5em;
            }
            & form {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 1em;
                width: 70%;

                & input {
                    border: 1px solid #575757;
                    padding: 10px 20px;
                    margin-top: 1em;
                }

                & a {
                   text-decoration: none;
                    color: #fff;
                    padding: 6px 80px;
                    background: #121212;
                    cursor: pointer;
                    text-align: center;
                    font-family: uppercut-angle, sans-serif;
                    font-weight: 200;
                    font-style: normal;
                    line-height: 40px;
                }
            }
        }
    }
}
.succes {
    height: 100vh;

    & .middle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: uppercut-angle, sans-serif;
        font-weight: 200;
        font-style: normal;
        font-size: 1.5em;

        & a {
            color: #000
        }
    }
}


//info
.info {
    height: 100vh;
    background-image: url('../../public/img/info.jpg');
    background-position: center center;
    background-repeat: no-repeat;

    .text {
        width: 80%;
        margin: 0 auto;
        z-index: 10;


        & h1 {
            padding-top: 7em;
            font-family: uppercut-angle, sans-serif;
            font-weight: 200;
            font-style: normal;
        }


        & p {
            max-width: 70%;
            font-family: upgrade-lights, sans-serif;
            font-weight: 400;
            font-size: 1.4em;
            margin-top: .8em;
        }
    }

    .text2 {
        width: 80%;
        margin: 0 auto;
        z-index: 10;
        text-align: right;


        & h1 {
            padding-top: 7em;
            font-family: uppercut-angle, sans-serif;
            font-weight: 200;
            font-style: normal;
        }

        & p {
            margin-top: .8em;
            max-width: 70%;
            margin-left: 30%;
            font-family: upgrade-lights, sans-serif;
            font-weight: 400;
            font-size: 1.4em;
        }
    }

    & p.bttm {
        position: absolute;
        top: 98%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-family: upgrade-lights, sans-serif;
        font-weight: 600;
        font-size: 1.4em;
    }
}

